ALPACA_PAPER_API_KEY="<YOUR PAPER API KEY>"
ALPACA_PAPER_SECRET_KEY="<YOUR PAPER API SECRET KEY>"
ALPACA_PAPER_TRADE=true
ALPACA_TRADE_API_URL=

PRIMARY_SYMBOL=TQQQ
UNIVERSE_SYMBOLS=TQQQ,QQQ,SPY,AAPL,MSFT,NVDA,AMD,TSLA
CLOUD_PROVIDER=local
RAW_STORE_URI=
STRUCTURED_STORE_URI=
COMPUTE_TARGET=local

